{% extends "base.html" %}

{% block content %}

<div class="quiz-container">

    <div class="quiz-header">

        <div>

            <span>
                Quiz
            </span>

            <h1>
                {{ category }}
            </h1>

        </div>

        <div class="timer">

            ⏱️
            <span id="timer">
                05:00
            </span>

        </div>

    </div>


    <form
        method="POST"
        action="{{ url_for('submit_quiz') }}"
        id="quizForm"
    >

        {% for question in questions %}

        <div class="question-card">

            <div class="question-number">

                Question {{ loop.index }}

            </div>

            <h2>
                {{ question.question }}
            </h2>


            <div class="options">

                <label>

                    <input
                        type="radio"
                        name="question_{{ question.id }}"
                        value="{{ question.option1 }}"
                        required
                    >

                    <span>
                        {{ question.option1 }}
                    </span>

                </label>


                <label>

                    <input
                        type="radio"
                        name="question_{{ question.id }}"
                        value="{{ question.option2 }}"
                    >

                    <span>
                        {{ question.option2 }}
                    </span>

                </label>


                <label>

                    <input
                        type="radio"
                        name="question_{{ question.id }}"
                        value="{{ question.option3 }}"
                    >

                    <span>
                        {{ question.option3 }}
                    </span>

                </label>


                <label>

                    <input
                        type="radio"
                        name="question_{{ question.id }}"
                        value="{{ question.option4 }}"
                    >

                    <span>
                        {{ question.option4 }}
                    </span>

                </label>

            </div>

        </div>

        {% endfor %}


        <input
            type="hidden"
            name="category"
            value="{{ category }}"
        >


        <button
            type="submit"
            class="btn primary submit-btn"
        >
            Submit Quiz
        </button>

    </form>

</div>

{% endblock %}